<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiang.connectgame"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.revmob.app.id"
            android:value="copy your RevMob App ID here" />

        <activity
            android:name="com.jiang.connectgame.SplassScreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jiang.connectgame.Menu"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.jiang.connectgame.Help"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.jiang.connectgame.Play"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.jiang.connectgame.Setting"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.jiang.connectgame.HeightDollar"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.jiang.connectgame.RatingActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.revmob.ads.fullscreen.FullscreenActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.swarmconnect.SwarmMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Swarm"
            android:screenOrientation="portrait"
            android:theme="@style/HoloTheme"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name="com.swarmconnect.NotificationService"
            android:process=":swarm" />
    </application>

</manifest>